@font-face {
  font-family: Playfair Display;
  src: url(font/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(font/Lato-Regular.ttf);
}

.main1 {
  text-align: center;
  width: 100%;
  height: 750px;
  font-family: "Lato";
}

.main1-values {
  padding: 120px 198px 220px 198px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 72px;
}

.gambar-card {
  display: inline-block;
  background-color: #edf0ff;
  border-radius: 12px;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}

.gambar-card img {
  margin: 31.33px 24.33px;
}

#middle {
  margin: 26.67px;
}

.middle-card {
  background-color: #dffff2;
}

.right-card {
  background-color: #fff6de;
}

#right {
  margin: 27.83px 26.66px 27.83px 26.67px;
}

.card-values {
  width: 300px;
  height: 241px;
  display: block;
}

.judul {
  margin-bottom: 80px;
}

.judul h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #f24900;
  font-style: normal;
}

.judul h3 {
  margin-top: 12px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  color: #333333;
  font-size: 40px;
}

.deskripsi-card h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #333333;
  display: inline;
  margin-top: 32px;
}

.deskripsi-card p {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 32px;
  font-style: normal;
  color: #8b8b8b;
  display: inline-block;
  margin-top: 16px;
}

/* Smartphone View */
@media (max-width: 767px) {
  .main1 {
    height: 1000px !important;
  }

  .main1-values {
    padding: 60px 99px 110px 99px;
  }

  .card {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
  }

  .judul h1 {
    font-size: 14px;
  }

  .judul h3 {
    margin-top: -10px;
    font-size: 28px;
  }

  .gambar-card {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
  }

  .gambar-card img {
    width: 50%;
    margin: 24px 19px;
  }

  #middle {
    margin: 18px 21px;
  }

  #right {
    margin: 20px 20px;
  }

  .deskripsi-card h4 {
    font-size: 12px;
  }

  .deskripsi-card p {
    font-size: 12px;
  }
}

/* Tablet View */
@media (max-width: 1199px) {
  .main1 {
    height: 600px;
  }

  .main1-values {
    padding: 60px 99px 110px 99px;
  }

  .card {
    flex-direction: row;
    margin-top: -50px;
  }

  .judul h1 {
    font-size: 12px;
  }

  .judul h3 {
    margin-top: -10px;
    font-size: 28px;
  }

  .deskripsi-card h4 {
    font-size: 20px;
  }

  .deskripsi-card p {
    font-size: 14px;
  }
}
